= render "users/shared/account_header"

.sessions-main
  .registration-text
    アカウントをお持ちでない方はこちら
    = link_to "sign_up" ,class:"new-link" do
      .registration-btn
        新規会員登録
  .session-form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.email_field :email, placeholder: "メールアドレス", autofocus: true, autocomplete: "email"
      %br/
      = f.password_field :password, placeholder: "パスワード", autocomplete: "current-password"

    .actions
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.submit "ログイン", class:"submit-form"
    .password-forget-text
      = link_to "#", class:"password-forget-link" do
        パスワードをお忘れの方

= render "users/shared/account_footer"
