
= render "registration_header"

.sessions-main
  .sessions-main-content
    .content-center-top
      .content-center-top-create
        .content-center-top-create-text
          アカウントをお持ちでない方はこちら
          = link_to "#" ,class:"new-link" do
            .content-center-top-create-btn
              .content-center-top-create-btn__text
                新規会員登録

    .content-bottom 
      = form_with url: "#", local: true  do |f|
        .content-bottom-information
          .content-bottom-information-box
            .content-bottom-information-box-mail
              = f.text_field :email, placeholder: "メールアドレス",  class: "information-box-mail"
        
            .content-bottom-information-box-password
              = f.password_field :password, placeholder: "パスワード",  class:"information-box-password"
        .content-bottom-login
          .content-bottom-login-btn
            .content-bottom-login-text
              = f.submit value: "ログイン", class:"submit-form"
        .password-forget-text
          = link_to "#" ,class:"password-forget-link" do
            パスワードをお忘れの方

= render "registration_footer"