.account-page
  .mypage-content
    .left-content
      %nav.content_nav
        %ul.content-nav-list
          %li
            = link_to "http://localhost:3000/registration/" do
              登録情報
              %i.icon-arrow-right
          %li
            = link_to "http://localhost:3000/cards/new" do
              クレジットカード
              %i.icon-arrow-right
          %li
            = link_to "" do
              出品商品情報
              %i.icon-arrow-right
          %li
            = link_to "" do
              購入商品情報
              %i.icon-arrow-right
          %li
            = link_to "http://localhost:3000/items" do
              ログアウト
              %i.icon-arrow-right
    .right-content
      .image
        .icon
        
        .data
          KSK mypage
          現在の出品数 【０】


        

        