.account-page
  .mypage-content
    .left-content
      %nav.content_nav
        %ul.content-nav-list
          %li
            = link_to "" do
              登録情報
              %i.icon-arrow-right
          %li
            = link_to card_path(current_user.id) do
              クレジットカード
              %i.icon-arrow-right
          %li
            = link_to new_item_path do
              出品する
              %i.icon-arrow-right    
          %li
            = link_to "" do
              出品商品情報
              %i.icon-arrow-right
          %li
            = link_to "" do
              購入済商品
              %i.icon-arrow-right
          %li
            = link_to "" do
              取引中商品
              %i.icon-arrow-right    
          %li
            = link_to "" do
              いいね！一覧
              %i.icon-arrow-right
          %li
            = link_to "" do
              ガイド 
              %i.icon-arrow-right
          %li
            = link_to "" do
              お問い合わせ
              %i.icon-arrow-right
          .setting
          設定
          %li
            = link_to items_path do
              ログアウト
              %i.icon-arrow-right
    .right-content
      .image
        .icon
        
        .data
          KSK mypage
          現在の出品数   【０】


        

        