= render 'header'

.buy__confirmation
  .buy__confirmation--info
    .buy__confirmation--info--title 
      購入内容の確認
    .buy__confirmation--info--item
      .image
        -# = image_tag "#{@item.images.first.image}" , height: '76', width: '76'
      .name
        = @item.name
      .price
        = "¥#{@item.price.to_s(:delimited)} (税込) 送料込み"

    = form_with model: @transaction, url: item_transactions_path, local: true, class: 'buy__confirmation--info--form' do |form|
      .buy__confirmation--info--form--box
        .box
          .label 
            支払金額
          .data
            = "¥#{@item.price.to_s(:delimited)}"
      .buy__confirmation--info--form--box
        .label 
          クレジットカード
        .label
          = "**** **** **** " + @card_payjp.last4
        .label
          = "有効期限 #{@card_payjp.exp_month.to_s} / #{@card_payjp.exp_year.to_s.slice(2,3)}"
        .edit
          = link_to "変更する", card_path(current_user.id), class: 'edit__btn'
      .buy__confirmation--info--form--box
        .label  
          配送先
        .data
          〒
          = @address.postcode
        .data
          = @address.prefecture
          = @address.city
          = @address.block
          = @address.building
          = @address.room_number
        %data
          = @address.family_name 
        %data 
          = @address.given_name
        .edit
          = link_to "変更する", new_registration_path, class: 'edit__btn'
      .buy__confirmation--info--form--register
        = form.submit "購入する", class: 'purchase__btn'

= render 'footer'
        