= render "users/shared/account_header"

.account-main
  .account-top
    %h3.account-top__title
      会員情報入力
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html:{class: "registration-form"}) do |f|
      = render "users/shared/error_messages", resource: @user
      .account-contents
        .account-input
          .account-input__title
          .account-input__form
            .field
              = f.label :nickname, "ニックネーム"
              %span.form-require 必須
              %br
              = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例) フリマ太郎", class:"input-default"
            .field
              = f.label :email, "メールアドレス"
              %span.form-require 必須
              %br
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'PC・携帯どちらでも可', class:"input-default"
            .field
              = f.label :password, "パスワード"
              %span.form-require 必須
              %br
              - if @minimum_password_length
                %em
                  -# (#{@minimum_password_length} characters minimum)
              = f.password_field :password, autocomplete: "new-password", placeholder: '7文字以上', class:"input-default"
            .field
              = f.label :password_confirmation, "パスワード(確認)"
              %span.form-require 必須
              %br
              = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '7文字以上', class:"input-default"
              
        .account-input
          %h3.account-input__title 本人確認
          %p.account-input__text
            安心・安全にご利用いただくために、
            お客さまの本人情報の登録にご協力ください。
            他のお客さまに公開されることはありません。
          .account-form
            .field
              = f.label "お名前(全角)"
              %span.form-require 必須
              %br
              = f.text_field :familyname_kanji, autofocus: true, autocomplete: "family-name", placeholder: "例) 山田", class:"input-default half"
              = f.text_field :firstname_kanji, autofocus: true, autocomplete: "given-name", placeholder: "例) 太郎", class:"input-default half"
            .field
              = f.label "お名前(カナ)"
              %span.form-require 必須
              %br
              = f.text_field :familyname_kana, autofocus: true, autocomplete: "family-name", placeholder: '例) ヤマダ', class:"input-default half"
              = f.text_field :firstname_kana, autofocus: true, autocomplete: "given-name", placeholder: '例) タロウ', class:"input-default half"
            .field-birthday
              = f.label "生年月日"
              %span.form-require 必須
              %br/
              .birthday-select-wrap
                = raw sprintf(f.date_select(:birthday, with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'

            .account-submit
              = f.submit "次へ進む", class: "submit-form"

=render "users/shared/account_footer"
